.greeting, .focus, .quote {
    position:relative;
}

.middle-panel__container {
    display:flex;
    flex-direction: column;
    
   
    color: rgba(255,255,255,.99);
}

.middle-panel__container--input {
    width: 100%;
    background:transparent;
    border:none;
    border-bottom: 2px solid rgba(255,255,255,.99);;
}

.middle-panel__container--input:focus {
    outline: none;
}

.greeting {
    top:38%;
    text-align: center;
    margin-bottom:15vh;
}

.greeting-time {
    font-size: 950%;
    font-weight: 500;
}

.greeting-name {
    font-size:320%;
    font-weight: 520;
}



.focus {
    text-align:center;
    margin-bottom: 15vh;
    font-size:150%;
    top:28%;
    /* padding-top:60px; */
}

@media (min-height:1030px) {
    .focus {
        padding-top:60px;
    }
}

.focus__title {
    font-weight: 100;
    font-size:140%;
}

.focus__input {
    padding-top: 1vh;
    background:transparent;
    border: none;
    border-bottom: 2px solid white;
    width:100%;
    color:white;
    text-align: center;
    font-size: 180%;
    font-weight: 600;

}

.focus__input:focus {
    outline:none;
}

.focus__content {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 42px;
}

.hidden-x {
    opacity:0;
    transition: opacity 1s ease-in;
    margin-left:6px;
    padding: 1px 1px 1px 1px;
}

.x {
    margin-left:6px;
    padding: 1px 1px 1px 1px;
    
}

.box {
    margin-right:6px;
}

.hidden-box {
    opacity: 0;
    transition: opacity 1s ease-in;
    margin-right:6px;
    
}

.focus:hover .hidden-x, .focus:hover .hidden-box {
    opacity: 1;
}

/*
.hidden-x:hover {
    border: 2px solid white;
    border-radius: 100%;
}
*/


.completed {
    text-decoration: line-through;
}

.quote {
    text-align: center;
    padding-bottom: 12px;
    top:27%;
}

.quote p {
    transition: all 1s;
}

.quote__author-hidden {
    display:none;
}

.quote:hover .quote__author-hidden{
    display:block;
}

.quote:hover .quote-text {
    transform: translateY(-100%);
}