.greeting, .focus, .quote {
    position:relative;
}

.middle-panel__container {
    display:flex;
    flex-direction: column;
    
   
    color: rgba(255,255,255,.99);
}

.middle-panel__container--input {
    width: 100%;
    background:transparent;
    border:none;
    border-bottom: 2px solid rgba(255,255,255,.99);;
}

.middle-panel__container--input:focus {
    outline: none;
}

.greeting {
    top:38%;
    text-align: center;
    margin-bottom:15vh;
}

.greeting-time {
    font-size: 950%;
    font-weight: 500;
}

.greeting-name {
    font-size:320%;
    font-weight: 520;
}



.focus {
    text-align:center;
    margin-bottom: 15vh;
    font-size:150%;
    top:28%;
    /* padding-top:60px; */
}


@media (max-width:906px) {
    .focus__title {
        font-size: 110% !important;
    }
    
}


@media (min-height:1087px) {
    .focus {
        /* padding-top:60px */
        margin-top:53px;
    }

    .quote {
        top: 30.5vh !important;
    }


}
@media (min-height:1030px) and (max-height:1086) {
    .focus {
        /* padding-top:60px */
        margin-top:50px;
    }

    .quote {
        top: 28vh !important;
    }


}

@media (min-height:881px) and (max-height:920px) {
    .quote {
        top: 27.25vh !important;
    }
}

@media (min-height:802px) and (max-height:880px) {
    .quote {
        top: 25vh !important;
    }
}

@media (min-height:771px) and (max-height:801px) {
    .quote {
        top: 23vh !important;
    }

    .greeting-name {
        font-size:300%;
    }

    .greeting-time {
        font-size: 800% !important;
    }
}

/*std size */
@media (max-height: 770px) and (min-height:769px) {
    
    .greeting {
        top: 32vh !important;
        margin-bottom: 12vh;
    }

    .greeting-name {
        font-size:300%;
    }



    .focus {top:28vh;}
    .quote {top:24vh !important;}
}

@media (max-height: 768px) and (min-height:760px) {
    
    .greeting {
        top: 30.5vh !important;
        margin-bottom: 10vh;
    }

    .greeting-name {
        font-size:280%;
    }

    .focus {top:27vh;}
    .quote {top:25.8vh !important;}
}

@media (max-height: 759px) and (min-height:750px) {
    
    .greeting {
        top: 30.5vh !important;
        margin-bottom: 10vh;
    }

    .greeting-name {
        font-size:280%;
    }

    .focus {top:27vh;}
    .quote {top:25vh !important;}
}

@media (max-height: 749px) and (min-height:721px) {
    
    .greeting {
        top: 30.5vh !important;
        margin-bottom: 5vh;
        
    }

    .greeting-name {
        font-size:295%;
    }

    .greeting-time {
        font-size: 750% !important;
    }

    .focus {top:27vh;}
    .quote {top:32vh !important;}
}

@media (max-height: 720px) and (min-height:676px) {
    
    .greeting {
        top: 30.5vh !important;
        margin-bottom: 5vh;
        
    }

    .greeting-name {
        font-size:295%;
    }

    .greeting-time {
        font-size: 750% !important;
    }

    .focus {top:27vh;}
    .quote {top:29vh !important;}
}

@media (max-height: 675px) and (min-height:641px) {
    
    .greeting {
        top: 30.5vh !important;
        margin-bottom: 5vh;
        
    }

    .greeting-name {
        font-size:295%;
    }

    .greeting-time {
        font-size: 750% !important;
    }

    .focus {top:27vh;}
    .quote {top:29vh !important;}
}

@media (max-height: 640px) and (min-height:606px) {
    
    .greeting {
        top: 30.5vh !important;
        margin-bottom: 5vh;
        
    }

    .greeting-name {
        font-size:280%;
    }

    .greeting-time {
        font-size: 750% !important;
    }

    .focus {top:27vh;}
    .quote {top:26vh !important;}
}

@media (max-height: 605px) and (min-height:555px) {
    
    .greeting {
        top: 30vh !important;
        margin-bottom: 5vh;
        
    }

    .greeting-name {
        font-size:280%;
    }

    .greeting-time {
        font-size: 750% !important;
    }

    .focus {top:27vh;}
    .quote {top:25vh !important;}
}

@media (max-height: 604px) {
    
    .greeting {
        top: 30vh !important;
        margin-bottom: 3vh;
        
    }

    .greeting-name {
        font-size:270%;
    }

    .greeting-time {
        font-size: 725% !important;
    }

    .focus {top:27vh;}
    .quote {top:21vh !important;}
}

.focus__title {
    font-weight: 100;
    font-size:140%;
}

.focus__input {
    padding-top: 1vh;
    background:transparent;
    border: none;
    border-bottom: 2px solid white;
    width:100%;
    color:white;
    text-align: center;
    font-size: 180%;
    font-weight: 600;

}

.focus__input:focus {
    outline:none;
}

.focus__content {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 42px;
}

.hidden-x {
    opacity:0;
    transition: opacity 1s ease-in;
    margin-left:6px;
    padding: 1px 1px 1px 1px;
}

.x {
    margin-left:6px;
    padding: 1px 1px 1px 1px;
    
}

.box {
    margin-right:6px;
}

.hidden-box {
    opacity: 0;
    transition: opacity 1s ease-in;
    margin-right:6px;
    
}

.focus:hover .hidden-x, .focus:hover .hidden-box {
    opacity: 1;
}

/*
.hidden-x:hover {
    border: 2px solid white;
    border-radius: 100%;
}
*/


.completed {
    text-decoration: line-through;
}

.quote {
    text-align: center;
    padding-bottom: 12px;
    top:28%;
}

.quote p {
    transition: all 1s;
}

.quote__author-hidden {
    display:none;
}

.quote:hover .quote__author-hidden{
    display:block;
    transform:translateY(-50%);
}

.quote:hover .quote-text {
    transform: translateY(-100%);
}