.btn {
    max-height: 5vh;
    max-width: 5vw;
    color: rgba(255,255,255,.7);
    font-size:200%;
}

.btn:focus {
    outline:none;
    color: rgba(255,255,255,.99);
}

.btn:hover {
    color: rgba(255,255,255,.99);
}
