.right-panel__container {
    min-width: 20vw;

    display:flex;
    flex-direction: column;
    
    align-items: flex-end;
    
}

.right-panel__container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-panel__btn {
    margin-bottom: 12px;
    margin-right: 2vh;
}

.right-panel__top-row {
    display:flex;
    flex-direction: row;
}

.right-panel__weather-container {
    color:white;

    margin-top: 12px;
    margin-right: 2vh;
}

.weather-temp {
    margin-left: .75vh;
    font-size: 150%;
}

.weather-icon {
    padding-bottom: 10px;
}

.todo-list-menu {
    position: absolute;
    bottom:6vh;
    right: 2vh;
    

    width:300px;
    max-height:50%;
    overflow-y: auto;
    
 
    background: #0b0b0cc4;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    
}

.todo-list-menu_top-row {
    /*
    padding-left: 1.5vw;
    padding-top: 1vh;
    */
    padding: 1.5vh 0 1.5vh 1.5vw;
    font-size: 90%;
    color: rgba(255,255,255,.7);
}

.todo-container {
    padding-left: 1.5vw;
}

.todo-container_content {
    color:white;
    font-weight: 50;
    font-size: 14px;
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5vh 0 .5vh 0;
}

.todo-container_content--left {
    display:flex;
    flex-direction: row;
}


.menu-hidden {
    visibility: hidden;
}

.menu-show {
    visibility: visible;
}

.todo-box, .todo-hidden-x {
    color:white;
}

.todo-box {
    margin: auto 0 auto 0;
    padding-right: .75em;
}

.todo-hidden-x {
    opacity:0;
    padding-right: 2.5vw;
}

.todo-container_content:hover .todo-hidden-x {
    opacity: 1;
}

.todo-list-menu_input {
    background:transparent;
    border:none;
    width:100%;
    padding:1vh 10px 1vh 1.5vw;
    color: rgba(255,255,255,.7);
    font-size: 12.8px;
}

.todo-list-menu_input:focus {
    outline:none;
}
